.test-client-container {
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}
.form-aside-container {
    display: grid !important;
    grid-template-columns: 30rem minmax(30rem, 39rem);
    justify-content: center;
    gap: 5%;
    height: 80%;
    align-items: center;
    aside {
        display: flex;
        min-height: 100%;
        .widget-container {
            border-radius: 2rem;
            flex-basis: 90%;
            background-color: var(--primary-color);
            color: white;
            .text {
                font-size: 36px;
                line-height: 48px;
                font-weight: 400;
                padding: 10%;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .form-aside-container {
        display: block !important;
        aside {
            display: none !important;
        }
    }
}
